<a href="https://colab.research.google.com/github/AbdirahmanMoualem29/Crop-Yield-Prediction-ML/blob/main/Weathercode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Assuming the uploaded file name is 'your_file_name.csv'
weather = pd.read_csv("John Glenn Airport.csv", index_col = "DATE")

In [4]:
null_pct = weather.apply(pd.isnull).sum()/weather.shape[0]

In [5]:
## remove allt he colum where the null is to high
valid_columns = weather.columns[null_pct < 0.05]

In [6]:
valid_columns

Index(['STATION', 'NAME', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN'], dtype='object')

In [7]:
weather = weather[valid_columns].copy()

In [8]:
weather

,STATION,NAME,PRCP,SNOW,SNWD,TMAX,TMIN
DATE,,,,,,,
1/1/1970,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.14,2.2,1.0,31,26
1/2/1970,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.06,1.5,2.0,30,24
1/3/1970,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.04,0.7,3.0,27,15
1/4/1970,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.01,0.3,3.0,22,12
1/5/1970,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.00,0.2,3.0,36,7
...,...,...,...,...,...,...,...
9/10/2023,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.00,0.0,0.0,79,59
9/11/2023,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.00,0.0,0.0,81,56
9/12/2023,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.21,0.0,0.0,70,59
9/13/2023,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.00,0.0,0.0,74,55
9/14/2023,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.00,0.0,0.0,75,51

In [9]:
weather.columns = weather.columns.str.lower()

In [10]:
weather

,station,name,prcp,snow,snwd,tmax,tmin
DATE,,,,,,,
1/1/1970,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.14,2.2,1.0,31,26
1/2/1970,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.06,1.5,2.0,30,24
1/3/1970,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.04,0.7,3.0,27,15
1/4/1970,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.01,0.3,3.0,22,12
1/5/1970,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.00,0.2,3.0,36,7
...,...,...,...,...,...,...,...
9/10/2023,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.00,0.0,0.0,79,59
9/11/2023,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.00,0.0,0.0,81,56
9/12/2023,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.21,0.0,0.0,70,59
9/13/2023,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.00,0.0,0.0,74,55
9/14/2023,USW00014821,"JOHN GLENN INTERNATIONAL AIRPORT, OH US",0.00,0.0,0.0,75,51

In [11]:
weather = weather.ffill()

In [12]:
weather.apply(pd.isnull).sum()

station    0
name       0
prcp       0
snow       0
snwd       0
tmax       0
tmin       0
dtype: int64

In [13]:
weather.dtypes

station     object
name        object
prcp       float64
snow       float64
snwd       float64
tmax         int64
tmin         int64
dtype: object

In [14]:
weather.index

Index(['1/1/1970', '1/2/1970', '1/3/1970', '1/4/1970', '1/5/1970', '1/6/1970',
       '1/7/1970', '1/8/1970', '1/9/1970', '1/10/1970',
       ...
       '9/5/2023', '9/6/2023', '9/7/2023', '9/8/2023', '9/9/2023', '9/10/2023',
       '9/11/2023', '9/12/2023', '9/13/2023', '9/14/2023'],
      dtype='object', name='DATE', length=19615)

In [15]:
weather.index = pd.to_datetime(weather.index)

In [16]:
weather.index

DatetimeIndex(['1970-01-01', '1970-01-02', '1970-01-03', '1970-01-04',
               '1970-01-05', '1970-01-06', '1970-01-07', '1970-01-08',
               '1970-01-09', '1970-01-10',
               ...
               '2023-09-05', '2023-09-06', '2023-09-07', '2023-09-08',
               '2023-09-09', '2023-09-10', '2023-09-11', '2023-09-12',
               '2023-09-13', '2023-09-14'],
              dtype='datetime64[ns]', name='DATE', length=19615, freq=None)

In [17]:
weather.index.year

Index([1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970,
       ...
       2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023],
      dtype='int32', name='DATE', length=19615)

In [18]:
weather.index.year.value_counts().sort_index()

DATE
1970    365
1971    365
1972    366
1973    365
1974    365
1975    365
1976    366
1977    365
1978    365
1979    365
1980    366
1981    365
1982    365
1983    365
1984    366
1985    365
1986    365
1987    365
1988    366
1989    365
1990    365
1991    365
1992    366
1993    365
1994    365
1995    365
1996    366
1997    365
1998    365
1999    365
2000    366
2001    365
2002    365
2003    365
2004    366
2005    365
2006    365
2007    365
2008    366
2009    365
2010    365
2011    365
2012    366
2013    365
2014    365
2015    365
2016    366
2017    365
2018    365
2019    365
2020    366
2021    365
2022    365
2023    257
Name: count, dtype: int64

In [19]:
weather["snow"].plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [20]:
import matplotlib.pyplot as plt

plt.plot([0, 1, 2, 3, 4], [0, 1, 4, 9, 16])
plt.xlabel('X-axis')
plt.ylabel('Y-axis')
plt.title('Sample Plot')
plt.show()

ModuleNotFoundError: No module named 'matplotlib'